
/*///////////*/
.text-align-center{
    text-align: center;
}

.pokemon-img{
    width: 10%;
}
.background{
    background: plum;
}

/* index.css */


.pokemon-list {
    max-width: 800px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.pokemon-card {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.pokemon-card:hover {
    background-color: #e0e0e0;
}

.pokemon-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}
.page-nuber{
color: #2d2b2b;
}
.pagination button {
    margin: 0 5px;
    background-color: hsl(264, 100%, 50%);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    cursor: pointer;
}
.pagination button:hover {
    margin: 0 5px;
    background-color: hsl(0, 2%, 79%);
    color: #170606;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.search-bar {
    width: 300px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
}

