/*///////////*/
.text-align-center {
    text-align: center;
}

.pokemon-img {
    width: 10%;
}

.background {
    background: plum;
}

body {
    background: plum;

}

/* index.css */

.page-number {
    color: #ffffff;
    position: absolute;
    height: 5em;
}
.pokemon-list {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.pokemon-card {
    border: 2px solid #ccc;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 5%;
}

.pokemon-card:hover {
    background-color: #e0e0e0;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.6);
}

.pokemon-card:hover .pokemon-img {
    transform: translateY(-10px); /* Move the image up by pixels */
}

.pokemon-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
/*  Pagination CSS  */
.pagination {
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    z-index: 1000;
    display: flex; /* Ensure flex layout for button alignment */
    justify-content: center; /* Center align buttons horizontally */
    align-items: center; /* Center align buttons vertically */
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Keyframes for sliding in */
@keyframes slideInPagination {
    0% {
        opacity: 0;
        transform: translateY(50px); /* Move downwards */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Move back to original position */
    }
}

/* Additional animations for specific buttons */
.pagination button:nth-child(1), .pagination button:nth-child(2) {
    animation: slideInLeft 1.5s forwards;
}

.pagination button:nth-child(4), .pagination button:nth-child(5) {
    animation: slideInRight 1.5s forwards;
}

.pagination button:nth-child(3) {
    animation: slideInUp 1.5s forwards;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px); /* Move to the left */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Move back to original position */
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100px); /* Move to the right */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Move back to original position */
    }
}

@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: translateY(100px); /* Move downwards */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Move back to original position */
    }
}

/*end of pagination css */


.search-bar, .pokeDex {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.search-bar {
    width: 300px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    margin-bottom: 50px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
    top: 3%; /* Adjusted spacing from the top */
    animation: slideInSearchBar 0.5s forwards; /* Unique animation name for search bar */
}

.pokeDex {
    padding-bottom: 50px;
    color: white;
    top: -100px; /* initially above the screen view */
    animation: slideInPokeDex 0.5s forwards; /* Unique animation name for PokeDex */
}

@keyframes slideInSearchBar {
    0% {
        top: -100px; /* initial position */
    }
    100% {
        top: 10vh; /* final position (20% from the top of the viewport) */
    }
}

@keyframes slideInPokeDex {
    0% {
        top: -100px; /* initial position */
    }
    100% {
        top: 1vh; /* final position (20% from the top of the viewport) */
    }
}
